/* some style */

body {
    background-color: darkgray;
    font-family: "Inconsolata";
}

#app {
    width: 60%;
    margin: auto;
}

.insertion-div {
    background-color: lightgrey;
    padding: 0.5em;
    margin: 0.5em;
    display: flex;
}

.input-field-div {
    float: left;
    margin-right: 0.5em;
}

textarea {
    width: 100%;
}

button.btn-sm.btn-secondary {
    width: 5em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}

th {
    text-align: center;
}
